<o-form-layout-manager attr="DestinationActivity" mode="tab" title="DESTINATIONACTIVITY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="DestinationActivityTable" 
            service="DestinationActivity" 
            entity="DestinationActivity" 
            title="DESTINATIONACTIVITY"
            keys="id"
            columns="id;activity_id;destination_id" 
            header-actions="R;D"
            visible-columns="id;activity_id;destination_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="activity_id" title="activity_id">
    <o-table-cell-renderer-service attr="activity_id" 
        service="Activity" entity="ActivityType" columns="id;name"
        parent-keys="id:activity_id"
        value-column="name" keys="activity_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="destination_id" title="destination_id">
    <o-table-cell-renderer-service attr="destination_id" 
        service="Destination" entity="DestinationType" columns="id;name"
        parent-keys="id:destination_id"
        value-column="name" keys="destination_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>